@import url('./styles.css');

@media screen and (max-width: 1280px) {
    .container-main-home .header,
    .container-main-home .about {
        flex-direction: column;
    }
}

@media screen and (max-width: 1040px){
    .teacher-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 1220px){
    .final-content img {
        display: none;
    }

    .social-medias-container p.social-media-text {
        width: 400px;
        position: relative;
        left: calc(50% - 200px);
        text-align: center;
    }

    .social-medias-container p.social-media-title {
        display: none;
    }

    .social-medias-container .final-content {
        padding-bottom: 130px;
    }
}

@media screen and (max-width: 740px) {
    .tags-container .tags-1, .tags-container .tags-2, .tags-container .tags-3 {
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media screen and (max-width: 980px) {
    .projects-container h1.projects-title {
        padding-left: 5%;
        padding-right: 5%;
    }

    .projects-container .btn-projects-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 527px) {
    .container-main-home .header .header-child h1.main-title {
        font-size: 58px;
        line-height: 80px;
    }

    .container-main-home .header .header-child h2.main-subtitle {
        font-size: 44px;
    }
}

@media screen and (max-width: 490px) {
    .tags-1 :first-child {
        white-space: pre-wrap;
    }
}